.search-wrapper {
    padding-top: 16vh;
}

.search-input-main {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.search-input-advanced {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input-main input {
    flex-grow: 1;
    flex-shrink: 0;
}

.search-input-advanced-col {
    padding-left: 2px;
    padding-right: 2px;
}

.search-icon {
    color: white;
}

.search-advanced-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-icon-button:focus {
    outline: none;
    box-shadow: none;
}
