<div class="w-100 search-wrapper">
    <img src="../../../assets/icons/Project4_Team_Icon_v1_2_White.svg" class="d-block mr-auto ml-auto" alt="" width="200" height="200"/>
    <div class="w-100">
        <div class="ml-auto mr-auto search-input-main">
            <input class="form-control unrounded" placeholder="Search" aria-label="Search" (keyup.enter)="executeBasicSearch()" 
                    spellcheck="false" #mainSearch>
            <button class="btn search-icon-button" (click)="executeBasicSearch()">
                <i class="fa fa-search search-icon"></i>
            </button>
        </div>
    </div>
</div>